.gradient-background {
  background-image: linear-gradient(
    70deg,
    #2a5e98,
    20%,
    #cda1cc,
    #ae8dad,
    80%,
    #8ee5ba
  );
}

.header {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.mini-header {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.nav-bar-header {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.regular-text {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  line-height: 2;
}

.timeline {
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  margin: 0 auto; /* this is to horizontally center the timeline*/
}

/* note to self: have to go and study this afterwards */

.timeline-point {
  position: absolute;
  top: 10%;
  border-radius: 100%;
  left: 50%;
  transform: translateX(-50%);
}
